/************* COLORS **************/
$bg: rgb(230, 230, 230);
$brown-accent: #DFD4B9;
$black: #333;
$transparent-black: rgba(51, 51, 51, 0.6);
$black-sub-header: #808083;
$row-odd-color: rgba(161,195,207,.2);
$light-gray-font-color: rgba(51,51,51,0.85);  //#8A8888; //#6F6F6F; color: rgba(51,51,51,0.75);
$dark-red-font-color: rgb(172, 60, 56);
$sidebar-black: rgba(0, 0, 0, .65);
$off-white-font-color: #E6E6E6;
$sidebar-gray : #F1F1F3;
$lds-blue : #3c4d71;
$header-blue: #337ab7;
$alt-lds-blue: #147ea7;
$alt-lds-blue-border: #13617f;
$bottom-gray-border: #d4d4d4;
$btn-success-blue: #43B2E7;
$divider-color: #e0e0e0;

$report__header--gray: #F2F2F2;

//Adjusted Pallete Colors
$color__yellow--400-o-20 : rgba(253, 221, 110, 0.20);
$color__orange--600-o-80-b-100 : rgba(155, 81, 43, 0.8);
$color__black--400-o-25: rgba(209, 209, 211, 0.25);
$color__black--700-o-80: rgba(83, 86, 90, 0.80);


/************* FONTS / FONT SIZES **************/
$report__cell: 1em;
$icon--med: 40px;
